@font-face {
  font-family: kalameh;
  src: url(./assets/Kalameh-Medium.ttf);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  font-family: kalameh;
}
